.contactus {
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    gap:6rem;
    margin-top: 9rem;
    
}

form{
    display: flex;
    flex-direction: column;
    width: 23rem;
}

label{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}