.Hero-section1 {
  padding-left: 600px;
}
.Hero-part1 {
  padding-top: 180px;
  padding-bottom: 20px;
  color: #fff;
  font-family: Roboto;
  font-size: 45px;
  font-style: normal;
  font-weight: 600;
}
.hero-part2 {
  color: #fff;
  font-family: Roboto;
  font-size: 28px;
  font-style: normal;
  font-weight: 300;
}
.Hero-section1-button {
  width: 8rem;
  border-radius: 8px;
  border-style: none;
  background-color: #0374E4;
  cursor: pointer;
  height: 40px;
  padding: 10px 16px;
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-family: Roboto;
  margin-top: 30px;
}

.Hero-section2 {
  background-color: #fff;
  display: flex;
  padding: 80px 100px 80px 100px;
  height: 589px;
}
.Hero-section2-part1 {
  padding-top: 60px;
}

.Hero-section2-part1A {
  color: #0f0f0f;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
  padding-right: 100px;
}
.Hero-section2-part1B {
  color: #0f0f0f;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.2px;
}
.Hero-section2-button {
  border: none;
  border-radius: 8.876px;
  background: #0374e4;
  padding: 8.9px;
  margin-top: 35px;
}
.Hero-section2-button a {
  text-decoration: none;
  color: #fff;
  text-align: center;
  font-size: 17.752px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: 17.752px;
  letter-spacing: 0.089px;
}
.hero-bg {
  width: 550px;
  height: 320px;
  border-radius: 20px;
  background: #0374e4;
  position: absolute;
}

.hero-bg2 {
  width: 580px;
  height: 350px;
  position: absolute;
  border-radius: 20px;
  position: absolute;
  padding-left: 20px;
  padding-top: 25px;
}

.hero-boxb {
  width: 550px;
  height: 320px;
  border-radius: 20px;
  background: #0374e4;
  position: absolute;
}
.hero-bg2b {
  /*width: 580px;
  height: 350px;
  position: absolute;
  border-radius: 20px;
  position: absolute;
  padding-left: 20px;
  padding-top: 25px;
  */
  width: 580px;
  height: 350px;
  border-radius: 20px;
  margin-top: -500px;
  margin-left: 10px;
  position: absolute;
}
.Hero-section2b {
  background-color: #fff;
  display: flex;
  padding-left: 100px;
}
.Hero-section2-box {
  color: #0f0f0f;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
}
.Hero-boxa2 {
  padding-left: 100px;
}
/* Latest blog posts */
.hero-latest-title {
  text-align: center;
  color: #000;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
}
.hero-latest {
  display: flex;
  padding: 40px 100px 80px 100px;
}
.hero-latest-img1 {
  padding-right: 3rem;
}
.hero-image {
  width: 20rem;
}
.hero-latest-title1 {
  color: #0f0f0f;
  text-align: center;
  font-family: Roboto;
  font-size: 26.983px;
  font-style: normal;
  font-weight: 500;
  line-height: 34.342px;
}
.hero-latest-title2 {
  color: #8a8888;
  text-align: center;
  font-family: Roboto;
  font-size: 26.983px;
  font-style: normal;
  font-weight: 400;
  line-height: 29.436px;
  letter-spacing: 0.613px;
}
/*subscribe*/
.hero-subscribe {
  text-align: center;
}
.hero-subscribe1 {
  color: #0f0f0f;
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  padding-top: 155px;
}
.hero-subscribe2 {
  color: #0f0f0f;
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}
.hero-subscribe-input {
  border-radius: 5px 0px 0px 5px;
  border: 1px solid #0374e4;
  width: 311px;
  height: 32px;
  color: #8a8888;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 11.712px;
  letter-spacing: 0.059px;
}
.hero-subscribe-button {
  border-radius: 0px 5px 5px 0px;
  background: #0374e4;
  height: 32px;
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 11.712px;
  letter-spacing: 0.059px;
  padding: 10px;
}
