.footer {
  display: flex;
  flex-direction: column;
  
}

.footer {
  background: linear-gradient(60deg, #aadaf8 -30%, #0374e4 100%);
  padding: 3rem;
}
.footer2 {
 display: flex;
 gap: 20rem;
 margin-left: 5rem;
}

.footer-rekruit-img {
  width: 100px;
  height: 68px;
}
.footer-icons {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  border: none;
}
.footer-header {
  color: #fff;
  margin-bottom: 1rem;
  

}
.footer-list {
  list-style: none;
  color: #fff;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  
}
.footer-list li{
  padding-top: 0rem;
  font-weight: 400;
}
.footer-list a{
  text-decoration: none;
  color: #fff;
  
}

.footer-links{
    display: flex;
    gap:10rem;
}
.footer-hr {
  color: rgba(255, 255, 255, 0.7);
  width: 100%;
  margin-top: 2rem;
}
.footer-copyright {
  color: #fff;
  font-weight: 400;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: -2rem;
}

@media screen and (max-width: 768px){
  .desktop{
    display: none;
  }
}