.NavBar {
  display: flex;
  max-width: 1360px;
  margin: 0 auto;
  align-items: center;
  
}
.wrapper {
  width: 100%;
  background: #fff;
  box-shadow: 3px 0px 5px 0px rgba(0, 0, 0, 0.25);
}
.NavBar-logo {
  width:6% ;
  height:7% ;
  margin-right: auto;
  display: flex;
  align-items: center;
}
.NavBar-nav ul {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
}
.NavBar_second {
  display: flex;
  gap: 3rem;
  align-items: center;
}
.NavBar-nav ul li {
  list-style: none;
  font-weight: 600;
  font-size: small;
  
  
}
.NavBar-nav a {
  text-decoration: none;
  color: #000;
  
}

.NavBar-nav-button {
  display: flex;
  padding: 8.876px;
  gap: 8.876px;
}
.NavBar-SignIn {
  border-radius: 9px;
  border: 1px solid #0374e4;
  background-color: #fff;
  padding: 8.876px;
  
}
.NavBar-SignIn a {
  /*text-decoration: none;*/
  color: #000;
  text-align: center;
  font-weight: 600;
  padding: 8.9px;
  font-size: small;
}
.NavBar-PostaJob {
  border: none;
  border-radius: 8.876px;
  background: #0374e4;
  padding: 8.9px;
}
.NavBar-PostaJob a {
  text-decoration: none;
  color: #fff;
  white-space: nowrap;
  text-align: center;
  font-weight: 600;
  padding: 8.9px;
  font-size: small;
}
