.NavBar {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
}
.wrapper {
  width: 100%;
  background: #fff;
  box-shadow: 3px 0px 5px 0px rgba(0, 0, 0, 0.25);
}
.NavBar-logo {
  width: 110.949px;
  height: 60.356px;
  margin-right: auto;
}
.NavBar-nav ul {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
}
.NavBar_second {
  display: flex;
  gap: 3rem;
  align-items: center;
}
.NavBar-nav ul li {
  list-style: none;
  font-size: 17.752px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 600;
  line-height: 39.054px;
}
.NavBar-nav a {
  text-decoration: none;
  color: #000;
}

.NavBar-nav-button {
  display: flex;
  padding: 8.876px;
  gap: 8.876px;
}
.NavBar-SignIn {
  border-radius: 8.876px;
  border: 1px solid #0374e4;
  background-color: #fff;
  padding: 8.876px;
}
.NavBar-SignIn a {
  /*text-decoration: none;*/
  color: #000;
  text-align: center;
  font-size: 17.752px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: 17.752px;
  letter-spacing: 0.089px;
  padding: 8.9px;
}
.NavBar-PostaJob {
  border: none;
  border-radius: 8.876px;
  background: #0374e4;
  padding: 8.9px;
}
.NavBar-PostaJob a {
  text-decoration: none;
  color: #fff;
  white-space: nowrap;
  text-align: center;
  font-size: 17.752px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: 17.752px;
  letter-spacing: 0.089px;
  padding: 8.9px;
}
