
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
a:link,
a:checked,
a:visited {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    line-height: 1.2;
     font-family: 'Roboto', sans-serif; 
}

