
.aboutussec1{
    display: flex;
    gap: 8rem;
    flex-direction: row;
    justify-content: center;
    margin-top: 4rem;
}


.aboutussec2{
    display: flex;
    gap: 8rem;
    flex-direction: row-reverse;
    justify-content: center;
    margin-top: 10rem;
}

.aboutimgcont1{
    position: relative;
    z-index: 10;
}

.about_blue1{
    position: absolute;
    z-index: -10;
    top: -1.2rem;
    right: rem;
}

.aboutimgcont2{
    position: relative;
    z-index: 10;
}

.about_blue2{
    position: absolute;
    z-index: -10;
    top: -1.2rem;
    right: rem;
}

.aboutussec3{
    display: flex;
    margin-top: 5rem;
    padding-top: 5rem;
    padding-bottom: 4rem;
    justify-content: center;
    gap: 10rem;
    background-color: rgba(242, 250, 255, 1);
}

.aboutus_mission{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.aboutus_vision{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.aboutus_values{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.aboutussec4{
display: flex;
flex-direction: column;
align-items: center;
margin-top: 3rem;
    margin-bottom: 3rem;

}

.aboutus_team{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    
    
}

.aboutussec5{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    background-color: rgba(242, 250, 255, 1);
    padding-top: 3rem;
    padding-bottom: 4rem;
}

.aboutussec5_button{
    width: 10rem;
  border-radius: 8px;
  border-style: none;
  background-color: #0374E4;
  cursor: pointer;
  display: inline-block;
  height: 40px;
  line-height: 20px;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  color: white;
  margin-top: 1rem;
}